section.banner{position:fixed;top:0;left:0;width:100vw;height:70vh;z-index:-1;background-image:url('/blog/public/images/openclassroomsblog-home.jpg');background-size:cover;}
section.introduce{height:55vh;}
section{padding-top:6rem;padding-bottom:4.8rem;}
.opacity-1{opacity:0.1;}
.divider-light{height:1px;background:#fff;display:block;width:100%;margin:0 auto;}
img{max-width:100%;height:auto;}
/*NAVBAR*/
.navbar-white{background:#fff;}
/*LINK*/
a{cursor:pointer;text-decoration:none;color:#dab602;}/*a:hover{color:#a8851b;}*/
.btn-primary{background:#dab602;border-color:#dab602;}.btn-primary:hover{background:#a8851b;border-color:#a8851b;}
.btn-outline-secondary{color:#dab602;border-color:#dab602;}.btn-outline-secondary:hover{color:#fff;background:#dab602;border-color:#dab602;}
.btn-line.text-dark{padding:0.5rem 0rem 0.5rem 1.3rem;}
.btn-line.text-dark:hover{padding:0.5rem 1.3rem 0.5rem 0rem;}
.btn-line.text-dark:before{bottom:12px;background:#19191c;left:0;content:'';width:16px;height:2px;display:block;position:absolute;transition:all 0.3s ease-in-out;}
.btn-line.text-dark:after{bottom:12px;background:#19191c;right:-16px;content:'';width:16px;height:2px;display:block;position:absolute;transition:all 0.3s ease-in-out;}
.input-group .form-control{border:solid 1px #fff;}.form-control{font-size:0.875rem;}
.pointer{cursor:pointer;}
.hover-mustard:hover{color:#dab602 !important;}
.mustard{color:#dab602;}
/*TEXT*/
h1,h2,h3,h4,h5,h6,.navbar-brand,.h1,.h4,.h6{font-family: 'Nunito', sans-serif;}
.fab{font-size:1.2em;}.current-text{font-size:0.875rem;}
.smaller{font-size:60%;}
.text-white{color:#fff;}.text-dark{color:#212529;}.text-gray{color:#a1a1a8;}.text-mustard{color:#dab602;}.text-error{color:#dc3545;}.border-error{border-left: solid 5px;border-color:#dc3545;}.text-valid{color:#198754;}.border-valid{border-left: solid 5px;border-color:#198754;}
.state{color:#fff;padding:.25rem .75rem;}.state[data-state='published']{background-color:#dab602;}.state[data-state='pending']{background-color:#be914c;}.state[data-state='revised']{background-color:#509151;}.state[data-state='draft']{background-color:#ed692f;}
section.newsletter{background-color:#0f0f11;color:#fff;}
footer{background-color:#19191c;color:#fff;}
p{margin-top:0;margin-bottom:1rem;}
/*COLOR*/
.bg-dark-theme{background-color:#f5f9fd;}
.bg-alert{background-color:#f23322;}
.demo{
  background: linear-gradient(45deg, #fff 5%, #f5f9fd 5%, #f5f9fd 45%, #fff 45%, #fff 55%, #f5f9fd 55%, #f5f9fd 95%, #fff 95%);
  background-size: 100px 100px;
  background-position: 50px 50px;
}
/*OWL*/
.owl-theme .owl-nav button{height:100%;position:absolute;top:0;margin:0 !important;}
.owl-theme .owl-nav button.owl-prev,.owl-theme .owl-nav button.owl-prev:hover{background: rgb(245,249,253);background: linear-gradient(90deg, rgba(245,249,253,1) 30%, rgba(255,255,255,0) 100%);}
.owl-theme .owl-nav button.owl-next,.owl-theme .owl-nav button.owl-next:hover{background: rgb(245,249,253);background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(245,249,253,1) 50%);}
.owl-theme .owl-nav span{width:50px;height:50px;display:block;background-color:RED;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.owl-prev{position:absolute;top:50%;left:0}.owl-next{position:absolute;top:50%;right:0}
{background:initial;color:inherit;}
/*TABLE*/
.mw-70{max-width:70vw;}
.table-white{border-color:#fff;background-color:#fff;}
/*BORDER*/
.border-mustard{border-color:#dab602 !important;}.border-alert{border-color:#f23322 !important;}
/*CARD*/
.card-footer{background-color:#fff;}
.card-profil{width:110px;height:110px;}.img-profil{height:100%;max-width:initial;width:auto;left:-25%}
.card-profil-thumbnail{width:40px;height:40px;}.img-profil{height:100%;max-width:initial;width:auto;left:-25%}}
.blur{filter:blur(4px);-webkit-filter: blur(4px);}
.card-message{width:300px;}
/*ICON*/
.section-icon{width:60px;height:60px;background-color:#dab602;color:#fff;top:-30px;left:calc(50% - 30px);}

/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }*/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.nav-admin{width:14.32291667%;}
}

/*Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }*/

/*X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/*XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/